*.pyc
*~
__pycache__
db.sqlite3
.vscode
npm-debug.log
/node_modules
/react/src
/static/sass
.babelrc
package.json
package-lock.json
*.hot-update.js
webpack.config.js
webpack.common.js
webpack.dev.js
webpack.prod.js
Pipfile
Pipfile.lock
README.md

*.woff
*.woff2

settings.py
settings2.py