{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% render_bundle 'style' 'css' %}
		<link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>TimeCard</title>
</head>

<body>		
	<div id="root"></div>
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<script>
		window.__initialData__ = [
			{
				"user": '{{user}}',
			}
		]
	</script>
	{% render_bundle 'vendor' 'js' %}
	{% render_bundle 'vendor2' 'js' %}
	{% render_bundle 'index' 'js' %}
</body>
</html>

