{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap&subset=cyrillic-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>TimeCard Preferences</title>
</head>

<body>
  <div id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    window.__initialData__ = [
      {
        "user": '{{user}}',
      }
    ]
    </script>
  <!-- <script src="{% static '/dist/vendor.00dd4f9dc73e08a3d996.js' %}"></script> -->
  <!-- <script src="{% static '/dist/preferences.12912400fcf02e18451c.js' %}"></script> -->
  <!-- <script src="{% static '/dist/preferences.bundle.js' %}"></script> -->
  {% render_bundle 'vendor' %}
	{% render_bundle 'vendor2' %}
  {% render_bundle 'preferences' %}

</body>
</html>