{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap&subset=cyrillic-ext" rel="stylesheet"> 
    {% render_bundle 'style' 'css' %}
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>TimeCard Preferences</title>
</head>

<body>
  <div id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    window.__initialData__ = [
      {
        "user": '{{user}}',
      }
    ]
    </script>
  {% render_bundle 'vendor' 'js' %}
	{% render_bundle 'vendor2' 'js' %}
  {% render_bundle 'preferences' 'js' %}

</body>
</html>