{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% render_bundle 'style' 'css' %}
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>Polityka prywatności i plików cookie</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/" class="logo__link">TimeCard</a>
    </div>
  </div>
  <div class="container">
    <h3 class="title">Polityka Prywatności </h3>
    <p><span class="indent">Niniejsza &nbsp;</span>Polityka prywatności została ostatnio zaktualizowana 20 lipca 2019.</p>
    <p><span class="indent">TIMECARD &nbsp;</span>(„nas”, „my” lub „nasza”) obsługuje stronę https://www.timecard.app (zwaną dalej „Usługi”).</p>
    <p><span class="indent">Niniejsza &nbsp;</span>Polityka prywatności obejmuje nasze praktyki w zakresie gromadzenia danych oraz opisuje prawa użytkowników do dostępu do danych osobowych i ich poprawiania, a także ograniczenia dotyczące korzystania przez nas z danych osobowych użytkowników. </p>
    <p><span class="indent bold">Korzystając &nbsp;</span><span class="bold">z Usług, użytkownik zgadza się na warunki niniejszej Polityki prywatności. Użytkownik nie powinien korzystać z Usługi, jeśli nie wyraża zgody na warunki niniejszej Polityki prywatności oraz wszelkie inne umowy regulujące korzystanie z Usługi.</p>
    <p><span class="indent bold">Jakie dane uzyskujemy ?</span></p>
    <p><span class="indent">Gromadzimy &nbsp;</span>pewne dane bezpośrednio od użytkownika, np. wprowadzane przez użytkownika dane, oraz dane z platform stron trzecich, za pośrednictwem których użytkownik łączy się z platformą TIMECARD.</p>
    <p class="bold"><span class="indent">Podczas &nbsp;</span>tworzenia konta za pośrednictwem platform stron trzecich  i korzystania z Usług, gromadzimy wszelkie dane przekazywane bezpośrednio przez użytkownika: </p>
    <p><span class="indent">1. Dane &nbsp;</span>o kontach użytkownika powiązanych z innymi Usługami</p>
    <p><span class="indent">Możemy &nbsp;</span>uzyskać pewne informacje za pośrednictwem mediów społecznościowych lub innych kont w Internecie, jeśli są one połączone z kontem TIMECARD. Jeśli użytkownik loguje się do konta TIMECARD za pośrednictwem Facebooka lub innej platformy albo serwisu strony trzeciej, prosimy o zgodę użytkownika na dostęp do pewnych informacji o tym koncie. Przykładowo, w zależności od platformy lub serwisu, możemy gromadzić dane, takie jak imię i nazwisko, zdjęcie profilowe, numer identyfikacyjny konta, adres e-mail do logowania, lokalizacja, fizyczna lokalizacja urządzeń dostępowych, płeć, data urodzenia oraz lista znajomych lub kontaktów.</p>
    <p><span class="indent">Te &nbsp;</span>platformy i serwisy udostępniają nam informacje za pośrednictwem interfejsów API. Otrzymywane przez nas informacje zależą od tego, jakie informacje użytkownik (za pośrednictwem ustawień prywatności), platforma lub serwis zdecydują się nam przekazać.</p>
    <p><span class="indent">Jeśli &nbsp;</span>użytkownik uzyskuje dostęp do naszych Usług lub korzysta z nich za pośrednictwem platformy lub serwisu strony trzeciej, lub klika linki strony trzeciej, gromadzenie, wykorzystywanie i udostępnianie jego danych będzie również podlegać polityce prywatności i innym umowom tej strony trzeciej.</p>
    <p><span class="indent">2. Dane &nbsp;</span>osobiste</p>
    <p><span class="indent">Gromadzimy &nbsp;</span>pewne dane bezpośrednio od użytkownika, wprowadzane przez użytkownika:</p>
    <p><span class="indent">- zapisy, &nbsp;</span>które zawierają informacje o czasie rozpoczęcia i zakończenia pracy;</p>
    <p><span class="indent">- przerwy &nbsp;</span>lub czas, który nie wlicza się do czasu pracy;</p>
    <p><span class="indent">- stawki &nbsp;</span>płacowe użytkownika;</p>
    <p><span class="indent">- jeśli &nbsp;</span>użytkownik skontaktuje się z nami w celu uzyskania pomocy technicznej lub zgłoszenia problemu albo wątpliwości, gromadzimy i przechowujemy dane kontaktowe, wiadomości i inne dane dotyczące takiego użytkownika.</p>
    <p><span class="indent">Dane &nbsp;</span>wymienione powyżej są przechowywane przez nas i powiązane z kontem użytkownika.</p>
    <p class="bold"><span class="indent">W &nbsp;</span>przypadku uzyskania dostępu do Usług zbieramy pewne dane w sposób zautomatyzowany, w tym:</p>
    <p><span class="indent">1. Dane &nbsp;</span>dotyczące systemu</p>
    <p><span class="indent">Dane &nbsp;</span>techniczne dotyczące komputera lub urządzenia, takie jak adres IP, typ urządzenia, typ i wersja systemu operacyjnego, unikalne identyfikatory urządzenia, przeglądarka, język przeglądarki, dane dotyczące domeny i innych systemów oraz typy platform.</p>
    <p><span class="indent">2. Dane  &nbsp;</span>dotyczące użytkowania</p>
    <p><span class="indent">Statystyki &nbsp;</span>użytkowania dotyczące interakcji użytkownika z Usługami, w tym odwiedzanych stronach, daty i czasu oraz innych danych dotyczących korzystania przez użytkownika z Usług.</p>
    <p><span class="indent bold">Jak wykorzystujemy dane.</span></p>
    <p><span class="indent">1. Używamy &nbsp;</span>danych użytkownika o kontach użytkownika powiązanych z innymi Usługami aby utworzyć konto w TIMECARD.</p>
    <p><span class="indent">2. Przechowujemy &nbsp;</span>i wykorzystujemy dane osobowe użytkownika, takie jak zapisy godzin pracy, daty pracy, czas przerwy w celach świadczenia naszych Usług, obliczamy czas pracy, wynagrodzenie dzienne, całkowity czas pracy w miesiącu, wynagrodzenie miesięczne.</p>
    <p><span class="indent bold">Czy ujawniamy jakiekolwiek informacje podmiotom zewnętrznym?</span></p>
    <p><span class="indent">Nie &nbsp;</span>sprzedajemy żadnych danych osobowych. Aby móc świadczyć nasze Usługi, udostępniamy dane stronom trzecim, które świadczą nam profesjonalne usługi, np. dostawca hostingu internetowego PythonAnywhere LLP.</p>
    <p><span class="indent">Możemy &nbsp;</span>ujawnić dane osobowe stronom trzecim, jeśli uznamy, że takie ujawnienie jest wymagane przez prawo albo wymagane przez użytkownika.</p>
    <p><span class="indent bold">Jak przechowujemy dane użytkownika?</span></p>
    <p><span class="indent">Wszystkie &nbsp;</span>dane są przechowywane w bazach danych i repozytoriach plików hostowanych w PythonAnywhere LLP. Po więcej szczegółów, &nbsp;  <a href="https://eu.pythonanywhere.com/privacy_v2/">https://eu.pythonanywhere.com/privacy_v2/</a></p>
    <p><span class="indent bold">Jak długo przechowujemy dane osobowe?</span></p>
    <p><span class="indent">Zasadniczo &nbsp;</span>usuwamy dane osobowe użytkownika po usunięciu konta (o usunięciu konta możesz poprosić, wysyłając nam e-mail na adres timecard.contact@gmail.com).</p>
    <p><span class="indent bold">Jakie są prawa użytkownika do ochrony danych?</span></p>
    <p><span class="indent">TIMECARD &nbsp;</span>pragnie upewnić się, że jesteś w pełni świadomy wszystkich swoich praw do ochrony danych. Każdy użytkownik ma prawo do:</p>
    <p><span class="indent">1. Prawo &nbsp;</span>do informacji - oznacza to, że musimy poinformować użytkownika, w jaki sposób zamierzamy wykorzystać dane osobowe. Robimy to poprzez tę politykę prywatności.</p>
    <p><span class="indent">2. Prawo &nbsp;</span>dostępu – użytkownik ma prawo dostępu do przechowywanych przez nas danych osobowych.</p>
    <p><span class="indent">3. Prawo &nbsp;</span>do sprostowania - jeśli użytkownik uważa że dane, które przechowujemy, są niepoprawne, może powiedzieć, abyśmy mogli je naprawić.</p>
    <p><span class="indent">4. Prawo &nbsp;</span>do usunięcia – użytkownik ma prawo zażądać usunięcia swoich danych. Zrobimy to, pod warunkiem, że nie będziemy mieć ważnego powodu, aby je zachować.</p>
    <p><span class="indent">5. Prawo &nbsp;</span>do ograniczenia przetwarzania - użytkownik ma prawo zażądać, aby nasze Usługi ograniczały przetwarzanie danych osobowych użytkownika, pod pewnymi warunkami.</p>
    <p><span class="indent">6. Prawo &nbsp;</span>do przenoszenia danych - użytkownik ma prawo zażądać, aby nasze Usługi przekazywały zebrane przez nas dane do innej organizacji lub bezpośrednio do użytkownika, pod pewnymi warunkami.</p>
    <p><span class="indent">7. Prawo &nbsp;</span>do sprzeciwu wobec przetwarzania - użytkownik ma prawo sprzeciwić się przetwarzaniu przez nas danych osobowych w określonych warunkach.</p>
    <p><span class="indent">Jeśli &nbsp;</span>użytkownik złoży wniosek, mamy miesiąc na odpowiedź. Jeśli użytkownik chce skorzystać z któregokolwiek z tych praw, prosimy o kontakt z nami za pośrednictwem naszego e-maila timecard.contact@gmail.com</p>
    <p><span class="indent bold">Polityka wobec dzieci.</span></p>
    <p><span class="indent">Nasze &nbsp;</span>Usługi nie dotyczą osób poniżej 18 roku życia („Dzieci”).</p>
    <p><span class="indent">Nie &nbsp;</span>gromadzimy świadomie danych osobowych od osób poniżej 18 roku życia. Jeśli jesteś rodzicem lub opiekunem i wiesz, że Twoje dziecko przekazało nam dane osobowe, skontaktuj się z nami. Jeśli dowiemy się, że zgromadziliśmy dane osobowe od dzieci bez weryfikacji zgody rodziców, podejmujemy kroki w celu usunięcia tych informacji z naszych serwerów.</p>
    <p><span class="indent bold">Aktualizacje tej polityki.</span></p>
    <p><span class="indent">Polityka &nbsp;</span>może się zmienić, sprawdź za każdym razem, gdy odwiedzasz naszą stronę. Zakładamy, że zgadzasz się na nową wersję polityki, jeśli korzystasz ze strony po jej wejściu w życie.</p>
    <p><span class="indent bold">Polityka prywatności innych stron internetowych.</span></p>
    <p><span class="indent">Strona &nbsp;</span>internetowa TIMECARD zawiera linki do innych stron internetowych. Nasza polityka prywatności dotyczy wyłącznie naszej strony internetowej, więc jeśli klikniesz link do innej strony, powinieneś przeczytać ich politykę prywatności.</p>
    <p><span class="indent bold">Informacje kontaktowe.</span></p>
    <p><span class="indent">TIMECARD, &nbsp;</span></p>
    <p><span class="indent">aleja &nbsp;</span>Powstancow Wielkopolskich 81/8,</p>
    <p><span class="indent">Szczecin, &nbsp;</span></p>
    <p><span class="indent">Poland, &nbsp;</span></p>
    <p><span class="indent">Telephone: &nbsp;</span>+48 664 677 632</p>
    <p><span class="indent">Email: &nbsp;</span>timecard.contact@gmail.com</p>
    <p><span class="indent">Jeśli &nbsp;</span>masz jakiekolwiek pytania dotyczące niniejszej informacji o ochronie prywatności lub naszych procedur gromadzenia danych, skontaktuj się z nami pod adresem, numerem telefonu lub adresem e-mail podanym powyżej.</p>
    <h3 class="title">Polityka dotycząca plików cookie</h3>
    <p><span class="indent">Niniejsza &nbsp;</span>Polityka dotycząca plików cookie została ostatnio zaktualizowana 20 lipca 2019. </p>
    <p><span class="indent">Pliki &nbsp;</span>cookie to małe pliki tekstowe przechowywane przez przeglądarkę podczas przeglądania Internetu. Pliki cookie pozwalają nam zapamiętać informacje dotyczące wizyty użytkownika w TIMECARD, takich jak preferowany język, oraz ułatwić korzystanie ze strony internetowej.</p>
    <p><span class="indent">Prawo &nbsp;</span>stanowi, że możemy przechowywać pliki cookie na urządzeniu użytkownika, jeśli są one absolutnie niezbędne do działania tej strony. W przypadku wszystkich innych rodzajów plików cookie potrzebujemy zgody użytkownika.</p>
    <p><span class="indent">Używamy &nbsp;</span>zarówno plików cookie sesji, które wygasają po krótkim czasie lub po zamknięciu przeglądarki, jak i trwałych plików cookie, które pozostają przechowywane w przeglądarce przez określony czas. Używamy plików cookie sesji do identyfikacji użytkownika podczas pojedynczej sesji przeglądania, np. podczas logowania do TIMECARD.</p>
    <p><span class="indent">Niezbędne &nbsp;</span>pliki cookie pomagają uczynić witrynę użyteczną poprzez włączenie podstawowych funkcji, takich jak nawigacja po stronie i dostęp do bezpiecznych obszarów witryny. Strona nie może działać poprawnie bez tych plików cookie.</p>
    <p><span class="indent bold">Niezbędne pliki cookie</span></p>
    <table class="cookie-table">
      <tr>
        <th>Nazwa</th>
        <th>Domain</th>
        <th>Przeznaczenie</th>
        <th>Wygaśnięcie</th>
        <th>Rodzaj</th>
      </tr>
      <tr>
        <td>sessionid</td>
        <td>timecard.app</td>
        <td>zidentyfikować każdą przeglądarkę i związaną z nią sesję z witryną</td>
        <td>dwa tygodni</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>csrftoken</td>
        <td>timecard.app</td>
        <td>pomaga zapobiegać atakom fałszowania żądań krzyżowych</td>
        <td>dwa tygodni</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>cookieconsent</td>
        <td>timecard.app</td>
        <td>przechowuje stan zgody użytkownika na pliki cookie dla bieżącej domeny</td>
        <td>1 year</td>
        <td>HTTP Cookie</td>
      </tr>
    </table>
    <p><span class="indent">Preferencyjne &nbsp;</span>pliki cookie umożliwiają stronie internetowej zapamiętanie informacji, które zmieniają sposób, w jaki zachowuje się lub wygląda strona, jak na przykład preferowany język.</p>
    <p><span class="indent bold">Preferencyjne cookie</span></p>
    <table class="cookie-table">
      <tr>
        <th>Nazwa</th>
        <th>Domain</th>
        <th>Przeznaczenie</th>
        <th>Wygaśnięcie</th>
        <th>Rodzaj</th>
      </tr>
      <tr>
        <td>userLang</td>
        <td>timecard.app</td>
        <td>pamięta wybraną wersję językową strony internetowej użytkownika</td>
        <td>trwały</td>
        <td>HTML Storage Cookie</td>
      </tr>
    </table>
    <p><span class="indent bold">Jak zmienić preferencje dotyczące plików cookie lub blokować pliki cookie?</span></p>
    <p><span class="indent">Użytkownik &nbsp;</span>może zmienić ustawienia przeglądarki tak, aby odrzucała pliki cookie.
      Jeśli użytkownik zdecyduje się odrzucić pliki cookie, może nie być w stanie zalogować się, dostosować lub korzystać z niektórych funkcji w Usługach. Aby uzyskać ogólne informacje na temat plików cookie i sposobu ich wyłączenia, należy odwiedzić stronę <a href="http://www.allaboutcookies.org/" >www.allaboutcookies.org</a></p>
    <p><span class="indent">Od &nbsp;</span>czasu do czasu możemy aktualizować niniejsze zasady dotyczące plików cookie. Jeśli to zrobimy, powiadomimy Cię, publikując zasady na naszej stronie z nową datą wejścia w życie. Jeśli wprowadzimy jakiekolwiek istotne zmiany, podejmiemy uzasadnione kroki, aby powiadomić Cię z wyprzedzeniem o planowanej zmianie.</p>
    <p><span class="indent">Jeśli &nbsp;</span>masz jakiekolwiek pytania dotyczące korzystania z plików cookie, napisz do nas na adres timecard.contact@gmail.com</p>
  </div>

</body>
</html>