{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% render_bundle 'style' 'css' %}
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>Политика конфедициальности и файлов cookie</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/" class="logo__link">TimeCard</a>
    </div>
  </div>
  <div class="container">
    <h3 class="title">Политика конфиденциальности</h3>
    <p><span class="indent">Данная &nbsp;</span>Политика конфиденциальности была последний раз обновлена 20 июля 2019 года.</p>
    <p><span class="indent">TIMECARD &nbsp;</span> («мы», «нами» или «наш») управляет веб-сайтом https://www.timecard.app (в дальнейшем именуемым «Сервис»).</p>
    <p><span class="indent">Эта &nbsp;</span>Политика конфиденциальности объясняет, как мы используем личные данные, которые мы получаем от Вас при использовании нашего веб-сайта, а также Ваши права на доступ, исправление или ограничение использования нами Ваших персональных данных.</p>
    <p><span class="indent bold">Используя &nbsp;</span><span class="bold">Услуги, Вы соглашаетесь с условиями настоящей Политики конфиденциальности.&nbsp;</span> Вы не должны использовать Сервис, если Вы не согласны с настоящей Политикой конфиденциальности или любым другим соглашением, которое регламентирует использование Сервиса.</p>
    <p><span class="indent bold">Какие данные мы собираем?</span></p>
    <p><span class="indent">Мы &nbsp;</span>собираем определенные данные непосредственно от Вас, например, информацию, которую Вы вводите сами, и данные со сторонних платформ, которые Вы подключаете с помощью TIMECARD. Мы также автоматически собираем некоторые данные, например информацию о Вашем браузере.</p>
    <p class="bold"><span class="indent">Когда &nbsp;</span>Вы создаете учетную запись через стороннюю платформу и используете Сервис, мы собираем любые данные, которые Вы предоставляете нам напрямую, в том числе:</p>
    <p><span class="indent">1. Данные &nbsp;</span>о Ваших учетных записях на других сервисах</p>
    <p><span class="indent">Мы &nbsp;</span>можем получить определенную информацию через Ваши учетные записи в социальных сетях или другие учетные записи в сети, если они подключены к Вашей учетной записи TIMECARD. Если Вы зайдете на TIMECARD через Facebook или через другую стороннюю платформу или сервис, мы просим у Вас разрешение на доступ к определенной информации о такой другой учетной записи. Например, в зависимости от платформы или сервиса мы можем собирать данные о Вашем имени, изображении профиля, идентификационном номере учетной записи, адресе электронной почты для входа, местоположении, физическом местоположении Ваших устройств доступа, гендерной принадлежности, дате рождения и списке друзей или контактов.</p>
    <p><span class="indent">Эти &nbsp;</span>платформы и сервисы предоставляют нам информацию через API. То, какую информацию мы получаем, зависит от того, какую информацию Вы (с помощью настроек конфиденциальности) или платформа или сервис решили предоставить нам.</p>
    <p><span class="indent">Если &nbsp;</span>Вы используете наш Сервис через стороннюю платформу или сервис или переходите по любой сторонней ссылке, сбор, использование и распространение Ваших данных будет также регулироваться политиками конфиденциальности и другими соглашениями таких третьих сторон.</p>
    <p><span class="indent">2. Личные &nbsp;</span>данные</p>
    <p><span class="indent">Мы &nbsp;</span>собираем непосредственно от Вас информацию, которую Вы вводите сами, например:</p>
    <p><span class="indent">- записи &nbsp;</span>рабочего времени, которые включают информацию о времени, когда вы начинаете и заканчиваете свой рабочий день;</p>
    <p><span class="indent">- перерывы &nbsp;</span>или время, которые не попадают в рабочее время;</p>
    <p><span class="indent">- Ваши &nbsp;</span>ставки заработной платы;</p>
    <p><span class="indent">- когда &nbsp;</span>Вы обращаетесь к нам за помощью в нашем Сервисе, мы получаем информацию, которую Вы предоставляете в этой переписке, и любую другую информацию, которую Вы отправляете нам.</p>
    <p><span class="indent">Мы &nbsp;</span>храним указанные выше данные и связываем их с Вашей учетной записью.</p>
    <p class="bold"><span class="indent">Когда &nbsp;</span>Вы получаете доступ к Сервису, мы собираем определенные данные автоматически, в том числе:</p>
    <p><span class="indent">1. Системные &nbsp;</span>данные</p>
    <p><span class="indent">Технические &nbsp;</span>данные о Вашем компьютере или устройстве, такие как ваш IP-адрес, тип устройства, тип и версия операционной системы, уникальные идентификаторы устройства, браузер, язык браузера, данные домена и других систем, а также типы платформ.</p>
    <p><span class="indent">2. Данные  &nbsp;</span>об использовании</p>
    <p><span class="indent">Статистика &nbsp;</span>Вашего взаимодействия с Сервисом, включая посещенные страницы, дату и время, а также другие данные, касающиеся использования вами Сервиса.</p>
    <p><span class="indent bold">Как мы будем использовать Ваши данные?</span></p>
    <p><span class="indent">1. Мы &nbsp;</span>используем Ваши данные о Ваших учетных записях в других сервисах для создания учетной записи в TIMECARD.</p>
    <p><span class="indent">2. Мы &nbsp;</span>храним и используем ваши Личные данные, такие как записи рабочего времени, даты работы, перерывы, чтобы предоставить Вам наши Услуги, рассчитать продолжительность рабочего дня, оплату в день, общее количество рабочих часов в месяц, общую оплату в месяц.</p>
    <p><span class="indent bold">Разглашаем ли мы какую-либо информацию сторонним лицам?</span></p>
    <p><span class="indent">Мы &nbsp;</span>не продаем Ваши личные данные. Чтобы иметь возможность предоставлять Вам услуги Сериса, мы передаем данные третьим лицам, которые предоставляют нам профессиональные услуги, например, Поставщик веб-хостинга PythonAnywhere LLP.</p>
    <p><span class="indent">TIMECARD &nbsp;</span>не будет разглашать Ваши данные правоохранительным органам, за исключением случаев, когда мы получили указания от Вас или если это требуется по закону.</p>
    <p><span class="indent bold">Как мы храним Ваши данные?</span></p>
    <p><span class="indent">Все &nbsp;</span>данные хранятся в базах данных и файловых хранилищах, размещенных в PythonAnywhere LLP. Больше подробностей, <a href="https://eu.pythonanywhere.com/privacy_v2/">https://eu.pythonanywhere.com/privacy_v2/</a></p>
    <p><span class="indent bold">Как долго мы храним Ваши личные данные?</span></p>
    <p><span class="indent">Как &nbsp;</span>правило, мы удаляем Вашу личную информацию, когда Вы удаляете свою учетную запись (удаление которой Вы можете запросить, отправив нам электронное письмо по адресу timecard.contact@gmail.com).</p>
    <p><span class="indent bold">Ваши права.</span></p>
    <p><span class="indent">TIMECARD &nbsp;</span>хотел бы убедиться, что Вы полностью осведомлены обо всех своих правах на защиту данных. Каждый пользователь имеет право на следующее:</p>
    <p><span class="indent">1. Право &nbsp;</span>на получение информации - это означает, что мы должны сообщить Вам, как мы собираемся использовать Ваши личные данные. Мы делаем это через эту Политику конфиденциальности.</p>
    <p><span class="indent">2. Право &nbsp;</span>оступа - у Вас есть право доступа к Вашим личным данным которые мы храним.</p>
    <p><span class="indent">3. Право &nbsp;</span>на исправление - если Вы считаете, что данные, которые мы храним, неверны, сообщите нам, чтобы мы могли исправить это.</p>
    <p><span class="indent">4. Право &nbsp;</span>на удаление - Вы имеете право потребовать, чтобы мы удалили Ваши данные. Мы сделаем это при условии, что у нас нет веских причин для их сохранения.</p>
    <p><span class="indent">5. Право &nbsp;</span>ограничить обработку - Вы имеете право потребовать, чтобы наш Сервис ограничил обработку Ваших персональных данных при определенных условиях.</p>
    <p><span class="indent">6. Право &nbsp;</span>на перенесение данных - вы имеете право потребовать, чтобы наш Сервис передал данные, которые мы собрали, другой организации или непосредственно Вам при определенных условиях.</p>
    <p><span class="indent">7. Право &nbsp;</span>на возражение против обработки - Вы имеете право возразить против обработки Ваших личных данных нащим Сервисом.</p>
    <p><span class="indent">Если &nbsp;</span>Вы сделаете запрос, у нас есть один месяц, чтобы ответить Вам. Если Вы хотите воспользоваться каким-либо из этих прав, свяжитесь с нами по электронной почте timecard.contact@gmail.com</p>
    <p><span class="indent bold">Наша политика в отношении детей.</span></p>
    <p><span class="indent">Наш &nbsp;</span>Сервис не предназначен для лиц младше 18 лет («Детей»).</p>
    <p><span class="indent">Мы &nbsp;</span>сознательно не собираем личную информацию от лиц, не достигших 18 лет. Если Вы являетесь родителем или опекуном и знаете, что Ваш ребенок предоставил нам личные данные, пожалуйста, свяжитесь с нами. Если нам станет известно, что мы собрали Личные данные детей без подтверждения согласия родителей, мы предпринимаем шаги по удалению этой информации с наших серверов.</p>
    <p><span class="indent bold">Обновления Политика конфиденциальности.</span></p>
    <p><span class="indent">Политика &nbsp;</span>конфиденциальности может измениться, пожалуйста, проверяйте каждый раз, когда Вы посещаете наш сайт. Мы предполагаем, что Вы согласны с новой версией Политики, если Вы используете сайт после ее вступления в силу.</p>
    <p><span class="indent bold">Политика конфиденциальности других сайтов.</span></p>
    <p><span class="indent">Сайт &nbsp;</span>TIMECARD содержит ссылки на другие сайты. Наша Политика конфиденциальности распространяется только на наш веб-сайт, поэтому, если Вы перейдете по ссылке на другой веб-сайт, Вам следует ознакомиться с их политикой конфиденциальности.</p>
    <p><span class="indent bold">Наши контактные данные.</span></p>
    <p><span class="indent">TIMECARD, &nbsp;</span></p>
    <p><span class="indent">aleja &nbsp;</span>Powstancow Wielkopolskich 81/8,</p>
    <p><span class="indent">Szczecin, &nbsp;</span></p>
    <p><span class="indent">Poland, &nbsp;</span></p>
    <p><span class="indent">Telephone: &nbsp;</span>+48 664 677 632</p>
    <p><span class="indent">Email: &nbsp;</span>timecard.contact@gmail.com</p>
    <p><span class="indent">Если &nbsp;</span>у Вас есть какие-либо вопросы по поводу данного Уведомления о конфиденциальности или наших методов сбора данных, свяжитесь с нами по указанному выше адресу, номеру телефона или электронной почте.</p>
    <h3 class="title">Политика использования файлов cookie</h3>
    <p><span class="indent">Данная &nbsp;</span>Политика использования файлов cookie была последний раз обновлена 20 июля 2019 года.</p>
    <p><span class="indent">Файлы &nbsp;</span>cookie - это небольшие текстовые файлы, которые сохраняются Вашим браузером при просмотре Интернета. Файлы cookie позволяют нам запоминать информацию о ваших посещениях TIMECARD, например предпочитаемый вами язык, и облегчают использование сайта.</p>
    <p><span class="indent">Закон &nbsp;</span>гласит, что мы можем хранить куки на Вашем устройстве, если они строго необходимы для работы этого сайта. Для всех остальных типов файлов cookie нам нужно Ваше разрешение.</p>
    <p><span class="indent">Мы &nbsp;</span>используем как сеансовые файлы cookie, срок действия которых истекает через короткое время или после закрытия браузера, так и постоянные файлы cookie, которые сохраняются в вашем браузере в течение определенного периода времени. Мы используем сеансовые куки для идентификации Вас во время одного сеанса просмотра, например, когда Вы входите в TIMECARD.</p>
    <p><span class="indent">Необходимые &nbsp;</span>cookie-файлы помогают сделать веб-сайт пригодным для использования благодаря включению основных функций, таких как навигация по страницам и доступ к защищенным областям веб-сайта. Веб-сайт не может функционировать должным образом без этих файлов cookie.</p>
    <p><span class="indent bold">Необходимые cookie-файлы</span></p>
    <table class="cookie-table">
      <tr>
        <th>Имя</th>
        <th>Домен</th>
        <th>Предназначение</th>
        <th>Истечение</th>
        <th>Тип</th>
      </tr>
      <tr>
        <td>sessionid</td>
        <td>timecard.app</td>
        <td>идентифицирует каждый браузер и связанный с ним сеанс с сайтом</td>
        <td>две недели</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>csrftoken</td>
        <td>timecard.app</td>
        <td>помогает предотвратить атаки подделки межсайтовых запросов</td>
        <td>две недели</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>cookieconsent</td>
        <td>timecard.app</td>
        <td>хранит состояние согласия пользователя на cookie для текущего домена</td>
        <td>1 год</td>
        <td>HTTP Cookie</td>
      </tr>
    </table>
    <p><span class="indent">Файлы &nbsp;</span>cookie предпочтений позволяют веб-сайту запоминать информацию, которая изменяет поведение или внешний вид веб-сайта, например, предпочитаемый вами язык.</p>
    <p><span class="indent bold">Cookie файлы предпочтений</span></p>
    <table class="cookie-table">
      <tr>
        <th>Имя</th>
        <th>Домен</th>
        <th>Предназначение</th>
        <th>Истечение</th>
        <th>Тип</th>
      </tr>
      <tr>
        <td>userLang</td>
        <td>timecard.app</td>
        <td>запоминает выбранную пользователем языковую версию веб-сайта</td>
        <td>постоянный</td>
        <td>HTML Storage Cookie</td>
      </tr>
    </table>
    <p><span class="indent bold">Как изменить настройки файлов cookie или заблокировать файлы cookie?</span></p>
    <p><span class="indent">В &nbsp;</span>Вашем браузере Вы можете выбрать, хотите ли Вы принимать файлы cookie или нет.  Если Вы решите отказаться от файлов cookie, обратите внимание, что Вы не сможете войти в систему, настроить или использовать некоторые функции Сервиса. Для получения общей информации о файлах cookie и способах их отключения посетите <a href="http://www.allaboutcookies.org/" >www.allaboutcookies.org</a></p>

    <p><span class="indent">Время &nbsp;</span>от времени мы можем обновлять Политику использования файлов cookie. Если мы это сделаем, мы уведомим Вас, разместив политику на нашем сайте с новой датой вступления в силу. Если мы внесем какие-либо существенные изменения, мы предпримем разумные меры, чтобы заранее уведомить Вас о запланированных изменениях.</p>
    <p><span class="indent">Если &nbsp;</span>у Вас есть какие-либо вопросы о нашем использовании файлов cookie, пожалуйста, напишите нам по адресу timecard.contact@gmail.com</p>
  </div>

</body>
</html>