{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap&subset=cyrillic-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>Privacy and Cookie Policy</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/" class="logo__link">TimeCard</a>
    </div>
  </div>
  <div class="container">
    <h3 class="title">Privacy Policy</h3>
    <p><span class="indent">Effective &nbsp;</span>date: July 20, 2019</p>
    <p><span class="indent">TIMECARD &nbsp;</span> ("us", "we", or "our") operates the https://www.timecard.app website (hereinafter referred to as the "Service").</p>
    <p><span class="indent">This &nbsp;</span>privacy policy will explain how we collect the personal data from you when you use our website.</p>
    <p><span class="indent bold">By &nbsp;</span><span class="bold">using the Service, you agree to the terms of this Privacy Policy.&nbsp;</span> You shouldn’t use the Service if you don’t agree with this Privacy Policy or any other agreement that governs your use of the Service.</p>
    <p><span class="indent bold">What data do we collect?</span></p>
    <p><span class="indent">We &nbsp;</span>collect certain data from you directly, like information you enter yourself, and data from third-party platforms you connect with TIMECARD. We also collect some data automatically, like information about your browser.</p>
    <p class="bold"><span class="indent">When &nbsp;</span>you create an account through a third-party platform and use the Service, we collect any data you provide directly, including:</p>
    <p><span class="indent">1. Data &nbsp;</span>About Your Accounts on Other Services</p>
    <p><span class="indent">We &nbsp;</span>obtain certain information through your social media or other online accounts if they are connected to your TIMECARD account. If you login to TIMECARD via Facebook or another third-party platform or service, we ask for your permission to access certain information about that other account. For example, depending on the platform or service we collect your name, profile picture, account ID number, login email address, location, physical location of your access devices, gender, birthday, and list of friends or contacts. </p>
    <p><span class="indent">Those &nbsp;</span>platforms and services make information available to us through their APIs. The information we receive depends on what information you (via your privacy settings) or the platform or service decide to give us.</p>
    <p><span class="indent">If &nbsp;</span>you access or use our Service through a third-party platform or service, or click on any third-party links, the collection, use, and sharing of your data will also be subject to the privacy policies and other agreements of that third party.</p>
    <p><span class="indent">2. Personal &nbsp;</span>Data</p>
    <p><span class="indent">We &nbsp;</span>collect from you directly information you enter yourself, such as:</p>
    <p><span class="indent">- recordings &nbsp;</span>of work times which include information about the time when you begin and end your work day;</p>
    <p><span class="indent">- breaks &nbsp;</span>or times which do not fall in work time;</p>
    <p><span class="indent">- your &nbsp;</span>wage rates;</p>
    <p><span class="indent">- when &nbsp;</span>you contact us for assistance with our Service, we receive the information you provide in that correspondence and any other information that you send to us.</p>
    <p><span class="indent">The &nbsp;</span>data listed above is stored by us and associated with your account.</p>
    <p class="bold"><span class="indent">When &nbsp;</span>you access the Service, we collect certain data by automated means, including:</p>
    <p><span class="indent">1. System &nbsp;</span>Data</p>
    <p><span class="indent">Technical &nbsp;</span>data about your computer or device, like your IP address, device type, operating system type and version, unique device identifiers, browser, browser language, domain and other systems data, and platform types.</p>
    <p><span class="indent">2. Usage  &nbsp;</span>Data</p>
    <p><span class="indent">Usage &nbsp;</span>statistics about your interactions with the Service, including  pages visited,  date and time, and other data regarding your use of the Service.</p>
    <p><span class="indent bold">How will we use your data?</span></p>
    <p><span class="indent">1. We &nbsp;</span>use your Data About Your Accounts on Other Services to create account in TIMECARD.</p>
    <p><span class="indent">2. We &nbsp;</span>store and use your Personal Data, such as, work times records, work dates, break times to provide our Service to you, calculate working day duration, pay per day, total working hours per month, total pay per month.</p>
    <p><span class="indent bold">Do we disclose any information to outside parties?</span></p>
    <p><span class="indent">We &nbsp;</span>do not sell any of your personal data. To be able to provide our Service to you, we share data with third parties, which provide professional services to us, e.g. web hosting provider PythonAnywhere LLP.</p>
    <p><span class="indent">TIMECARD &nbsp;</span>will not disclose your data to law enforcement except when instructed by you or where it is required by law.</p>
    <p><span class="indent bold">How do we store your data?</span></p>
    <p><span class="indent">All &nbsp;</span>data are stored in databases and file repositories hosted in PythonAnywhere LLP. For more details,  <a href="https://www.pythonanywhere.com/privacy_v2/">https://www.pythonanywhere.com/privacy_v2/</a></p>
    <p><span class="indent bold">How long do we keep your Personal Data?</span></p>
    <p><span class="indent">We &nbsp;</span>will generally delete your personal information when you delete your account (which you can request by emailing us at timecard.contact@gmail.com).</p>
    <p><span class="indent bold">What are your data protection rights?</span></p>
    <p><span class="indent">TIMECARD &nbsp;</span>would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <p><span class="indent">1. The &nbsp;</span>right to be informed – this means we must inform you how we are going to use your personal data. We do this through this privacy policy.</p>
    <p><span class="indent">2. The &nbsp;</span>right of access – you have the right to access your personal data (e.g. data that is about you) that we hold. This is called a subject access request.</p>
    <p><span class="indent">3. The &nbsp;</span>right to rectification – if you think the data we hold on you is incorrect, tell us so we can put it right.</p>
    <p><span class="indent">4. The &nbsp;</span>right to erasure – you have the right to request that we delete your data. We will do so, provided that we do not have a compelling reason for keeping it.</p>
    <p><span class="indent">5. The &nbsp;</span>right to restrict processing – you have the right to request that our Service restrict the processing of your personal data, under certain conditions.</p>
    <p><span class="indent">6. The &nbsp;</span>right to data portability – you have the right to request that our Service transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
    <p><span class="indent">7. The &nbsp;</span>right to object to processing – you have the right to object to our Service processing of your personal data, under certain conditions.</p>
    <p><span class="indent">If &nbsp;</span>you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email  timecard.contact@gmail.com</p>
    <p><span class="indent bold">Children's Privacy.</span></p>
    <p><span class="indent">Our &nbsp;</span>Service does not address anyone under the age of 18 ("Children").</p>
    <p><span class="indent">We &nbsp;</span>do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>
    <p><span class="indent bold">Updates to This Policy.</span></p>
    <p><span class="indent">The &nbsp;</span>policy might change, please check whenever you visit our website. We will assume you agree to the new version of the policy if you use the site after its effective date.</p>
    <p><span class="indent bold">Privacy policies of other websites.</span></p>
    <p><span class="indent">The &nbsp;</span>TIMECARD website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
    <p><span class="indent bold">How to contact us.</span></p>
    <p><span class="indent">TIMECARD, &nbsp;</span></p>
    <p><span class="indent">aleja &nbsp;</span>Powstancow Wielkopolskich 81/8,</p>
    <p><span class="indent">Szczecin, &nbsp;</span></p>
    <p><span class="indent">Poland, &nbsp;</span></p>
    <p><span class="indent">Telephone: &nbsp;</span>+48 664 677 632</p>
    <p><span class="indent">Email: &nbsp;</span>timecard.contact@gmail.com</p>
    <p><span class="indent">If &nbsp;</span>you have any questions about this Privacy Notice or our data collection practices, please contact us at the address, telephone number or email listed above.</p>
    <h3 class="title">Cookie Policy</h3>
    <p><span class="indent">This &nbsp;</span>Cookie Policy was last updated on July 20, 2019</p>
    <p><span class="indent">Cookies &nbsp;</span>are small text files stored by your browser as you browse the internet. Cookies allow us to remember things about your visits to TIMECARD, like your preferred language, and to make the site easier to use.</p>
    <p><span class="indent">The &nbsp;</span>law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.</p>
    <p><span class="indent">We &nbsp;</span>use both session cookies, which expire after a short time or when you close your browser, and persistent cookies, which remain stored in your browser for a set period of time. We use session cookies to identify you during a single browsing session, like when you log into TIMECARD.</p>
    <p><span class="indent">Necessary &nbsp;</span>cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>
    <p><span class="indent bold">Necessary Cookies</span></p>
    <table class="cookie-table">
      <tr>
        <th>Name</th>
        <th>Domain</th>
        <th>Purpose</th>
        <th>Expiry</th>
        <th>Type</th>
      </tr>
      <tr>
        <td>sessionid</td>
        <td>timecard.app</td>
        <td>identify each browser and its associated session with the site</td>
        <td>two weeks</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>csrftoken</td>
        <td>timecard.app</td>
        <td>helps prevent Cross-Site Request Forgery (CSRF) attacks identify</td>
        <td>two weeks</td>
        <td>HTTP Cookie</td>
      </tr>
      <tr>
        <td>cookieconsent</td>
        <td>timecard.app</td>
        <td>stores the user's cookie consent state for the current domain</td>
        <td>1 year</td>
        <td>HTTP Cookie</td>
      </tr>
    </table>
    <p><span class="indent">Preference &nbsp;</span>cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language.</p>
    <p><span class="indent bold">Preference Cookies</span></p>
    <table class="cookie-table">
      <tr>
        <th>Name</th>
        <th>Domain</th>
        <th>Purpose</th>
        <th>Expiry</th>
        <th>Type</th>
      </tr>
      <tr>
        <td>userLang</td>
        <td>timecard.app</td>
        <td>remembers the user's selected language version of a website</td>
        <td>persistent</td>
        <td>HTML Storage Cookie</td>
      </tr>
    </table>
    <p><span class="indent bold">How do you change cookie preferences or block cookies?</span></p>
    <p><span class="indent">Within &nbsp;</span>your browser, you can choose whether you wish to accept cookies or not.  If you decide to decline cookies, please note that you may not be able to sign in, customize, or use some features in the Service. For general information about cookies and how to disable them, visit <a href="http://www.allaboutcookies.org/" >www.allaboutcookies.org</a></p>

    <p><span class="indent">From &nbsp;</span>time to time, we may update this Cookie Policy. If we do, we’ll notify you by posting the policy on our site with a new effective date. If we make any material changes, we’ll take reasonable steps to notify you in advance of the planned change.</p>
    <p><span class="indent">If &nbsp;</span>you have any questions about our use of cookies, please email us at timecard.contact@gmail.com</p>
  </div>

</body>
</html>