{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap&subset=cyrillic-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
	  <link rel="icon" href="{% static '/img/icons8-schedule-48.png'%}">
    <title>TimeCard Signin</title>
</head>

<body>
  <div id="root"></div>
  <script src="{% static '/dist/vendor.fb019c069850743a6470.js.gz' %}"></script>
  <script src="{% static '/dist/signin.f3727c783619d94bad65.js.gz' %}"></script>
</body>
</html>