*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  height: 100%; }

.selected--red {
  background-color: #dc3545; }

.selected--green {
  background-color: #28a745; }

.header {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 4fr 1fr max-content;
  align-items: center;
  justify-items: center;
  grid-template-areas: "logo estimation login menu";
  min-height: 5rem;
  background-color: #ffb74d;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.25); }
  @media only screen and (max-width: 47em) {
    .header {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 6rem auto;
      grid-template-areas: "logo menu" "estimation estimation" "login preferences"; } }

.header-signin {
  grid-template-columns: minmax(max-content, 1fr) max-content;
  grid-template-areas: "logo language"; }

.header-pref {
  display: grid;
  grid-template-columns: 15rem;
  align-items: center;
  min-height: 5rem;
  background-color: #ffb74d;
  color: white; }

.editor {
  width: 60%;
  padding: 1rem 0;
  margin: 1rem auto;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 62em) {
    .editor {
      width: 80%; } }
  @media only screen and (max-width: 47em) {
    .editor {
      width: 95%; } }

.table {
  width: 60%;
  margin: 1rem auto;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.25);
  table-layout: fixed; }
  @media only screen and (max-width: 62em) {
    .table {
      width: 80%; } }
  @media only screen and (max-width: 47em) {
    .table {
      width: 95%; } }
  .table__wage {
    width: 40%; }
  .table td {
    height: 3.5rem;
    font-weight: 300; }
  .table th, .table td {
    border: 1px solid #bdbdbd;
    padding: 1rem 1rem; }
    @media only screen and (max-width: 47em) {
      .table th, .table td {
        padding: 1rem 0;
        font-size: 1.5rem; } }
  .table td:last-child {
    padding: 0; }
  .table th {
    font-size: 1.6rem;
    background-color: #ccff90; }
  .table td {
    font-size: 1.4rem;
    letter-spacing: 1px; }
  .table .trash {
    cursor: pointer;
    width: 2rem;
    height: 2rem; }

.thead th {
  font-weight: 600;
  font-size: 1.3rem; }
  @media only screen and (max-width: 47em) {
    .thead th {
      font-size: 1.1rem; } }

.tbody__row {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.4rem; }

.pay {
  position: relative; }

.wage-editor__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 30rem));
  grid-template-rows: 4rem;
  justify-content: center;
  margin-bottom: 2rem; }

.footer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .footer__icon {
    fill: #212121;
    width: 2rem;
    height: 2rem;
    padding-right: .5rem; }
  .footer__privacy a {
    text-decoration: none;
    color: #212121;
    font-weight: 500; }
  .footer__privacy a:hover {
    color: black; }
  .footer__email {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #212121; }
  .footer__email span {
    font-size: 1.3rem;
    font-weight: 400; }
  @media only screen and (max-width: 47em) {
    .footer {
      flex-direction: column; } }

.sign-in-app, .App {
  min-height: 100%;
  display: grid;
  grid-template-rows: 5rem auto 5rem; }

@media only screen and (max-width: 47em) {
  .App {
    grid-template-rows: 10.5rem auto 5rem; } }

#root {
  height: 100%; }

.pref-wrapper {
  width: 60%;
  margin: 4rem auto; }
  @media only screen and (max-width: 62em) {
    .pref-wrapper {
      width: 80%; } }
  @media only screen and (max-width: 47em) {
    .pref-wrapper {
      width: 85%; } }

.logo, .logo-pref {
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: white;
  margin-left: 2rem;
  font-weight: 800; }
  .logo__link:link, .logo__link:visited, .logo-pref__link:link, .logo-pref__link:visited {
    text-decoration: none;
    color: currentColor; }

.logo {
  grid-area: logo;
  justify-self: start; }

.login {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  justify-self: end; }
  .login__name {
    text-transform: capitalize; }
  @media only screen and (max-width: 47em) {
    .login {
      justify-self: start;
      display: none; } }

.estimation {
  grid-area: estimation;
  display: flex; }
  .estimation > * {
    margin: 1rem; }
  .estimation__icon {
    height: 2rem;
    width: 2rem; }
    .estimation__icon--1 {
      fill: white; }
    .estimation__icon--2 {
      fill: #3e2723; }
    .estimation__icon--3 {
      fill: #d50000; }
    .estimation__icon--4 {
      fill: #1b5e20; }
  .estimation__name span {
    margin-right: .5rem; }
  @media only screen and (max-width: 62em) {
    .estimation__name {
      display: none; } }
  .estimation__total-hours, .estimation__overtime-hours, .estimation__holiday-hours, .estimation__total-pay {
    display: flex;
    align-items: center;
    position: relative; }
    .estimation__total-hours > *, .estimation__overtime-hours > *, .estimation__holiday-hours > *, .estimation__total-pay > * {
      margin: 0 .1rem; }
    .estimation__total-hours:hover, .estimation__overtime-hours:hover, .estimation__holiday-hours:hover, .estimation__total-pay:hover {
      cursor: pointer; }
      .estimation__total-hours:hover > div, .estimation__overtime-hours:hover > div, .estimation__holiday-hours:hover > div, .estimation__total-pay:hover > div {
        display: block; }
  .estimation__value {
    margin: 0 .7rem;
    font-size: 1.5rem;
    letter-spacing: 1px; }
    @media only screen and (max-width: 47em) {
      .estimation__value {
        margin: 0 .2rem; } }
  .estimation__description {
    position: absolute;
    top: 2rem;
    left: -4rem;
    color: black;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65);
    padding: 1rem 1rem;
    width: 13rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    display: none; }

.add-button {
  cursor: pointer; }
  .add-button__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #03a9f4; }
    @media only screen and (max-width: 47em) {
      .add-button__icon {
        width: 3rem;
        height: 3rem; } }
  .add-button__icon:hover, .add-button__icon:active {
    fill: #2196f3;
    transition: 0.3s; }

.month-picker {
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 47em) {
    .month-picker {
      width: 100%; } }
  .month-picker__item {
    display: flex;
    align-items: center; }
  .month-picker__link:link, .month-picker__link:visited {
    text-decoration: none;
    color: #bdbdbd;
    fill: #bdbdbd;
    display: flex;
    align-items: center; }
  .month-picker__link:hover, .month-picker__link:active {
    color: black;
    fill: black; }
  .month-picker__icon {
    width: 2rem;
    height: 2rem; }
  @media only screen and (max-width: 47em) {
    .month-picker__text {
      display: none; } }
  .month-picker__text--current {
    padding: 0 .5rem;
    font-size: 1.8rem; }
    .month-picker__text--current-month, .month-picker__text--current-year {
      font-weight: 500; }
  .month-picker__number {
    font-size: 1.4rem;
    font-weight: 300; }
    @media only screen and (max-width: 47em) {
      .month-picker__number {
        display: none; } }

.button {
  padding: 1rem 2rem 1rem 2rem;
  border: 0;
  border-radius: 1px;
  height: 3.7rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65);
  cursor: pointer;
  display: block;
  margin: 0 auto; }
  .button--blue {
    background-color: #007bff; }
  .button--blue:hover {
    background-color: #0069d9; }
  .button--red {
    background-color: #dc3545; }
  .button--red:hover, .button--red:active {
    background-color: #c82333; }
  .button--green {
    background-color: #28a745; }
  .button--green:hover, .button--green:active {
    background-color: #218838; }
  .button--grey-light {
    color: #767676;
    background-color: white;
    border: 1px solid currentColor;
    box-shadow: none; }
  .button--grey-light:hover, .button--grey-light:active {
    color: #838383;
    background-color: white;
    border: 1px solid currentColor;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65); }

.close-button {
  cursor: pointer; }
  .close-button__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #03a9f4; }

.trash-button {
  cursor: pointer; }
  .trash-button__icon {
    width: 2rem;
    height: 2rem;
    fill: #f44336; }
    @media only screen and (max-width: 47em) {
      .trash-button__icon {
        width: 1.5rem;
        height: 1.5rem; } }

.menu {
  grid-area: menu;
  justify-self: end;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
  text-align: center; }
  @media only screen and (max-width: 47em) {
    .menu {
      display: block; } }
  .menu__icon {
    width: 2rem;
    height: 2rem;
    fill: white; }

.dropdown-menu {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 5rem;
  right: 0rem;
  width: 20rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65);
  cursor: default; }
  @media only screen and (max-width: 47em) {
    .dropdown-menu {
      top: 3rem; } }
  .dropdown-menu a:link,
  .dropdown-menu a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    cursor: pointer; }
  .dropdown-menu a:hover,
  .dropdown-menu a:active {
    color: black; }
  .dropdown-menu__item {
    margin: 1.5rem 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.74); }
    .dropdown-menu__item span {
      cursor: pointer; }
    .dropdown-menu__item a {
      cursor: pointer; }
    .dropdown-menu__item a:not(:last-child) {
      margin-right: 1rem; }
  .dropdown-menu__user {
    color: black;
    font-weight: 300; }
    .dropdown-menu__user-name {
      font-weight: 600;
      color: #ffb74d;
      text-transform: uppercase;
      display: inline-block;
      margin: 1rem 0rem 0.5rem 0rem; }

.sign-in {
  height: 30rem;
  width: 50rem;
  margin: 3rem auto;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65);
  border: solid 1px #ffb74d; }
  .sign-in__link {
    display: block; }
  .sign-in__text {
    padding: 2rem 2rem;
    color: rgba(0, 0, 0, 0.84); }
  @media only screen and (max-width: 47em) {
    .sign-in {
      height: 25rem;
      width: 30rem; } }
  .sign-in a {
    text-decoration: none; }

.facebook-btn {
  height: 4.6rem;
  background-color: #3C5A99;
  border-radius: 3px;
  cursor: pointer;
  margin: 2rem auto;
  width: 25rem;
  display: flex; }
  .facebook-btn:hover {
    background-color: #29487f; }
  .facebook-btn__logo {
    display: inline-block;
    width: 1.2rem;
    fill: white;
    margin: 1.2rem 1.5rem; }
  .facebook-btn__text {
    color: white;
    padding-top: 1.5rem;
    flex-grow: 1; }

.google-btn {
  height: 4.6rem;
  background-color: #4285f4;
  border-radius: 3px;
  cursor: pointer;
  margin: 2rem auto;
  width: 25rem;
  display: flex; }
  .google-btn:hover {
    background-color: #3367d6; }
  .google-btn__logo-bg {
    background-color: white;
    width: 4.2rem;
    height: 4.2rem;
    margin: .2rem .2rem; }
  .google-btn__logo {
    margin: .8rem .8rem;
    width: 2.6rem;
    height: 2.6rem; }
  .google-btn__text {
    padding-top: 1.5rem;
    flex-grow: 1;
    color: white; }

.google-bgc {
  background-color: green;
  fill: red; }

.date-picker {
  position: absolute;
  top: -7rem;
  margin: 0 auto;
  z-index: 1;
  margin: auto;
  width: 31rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65);
  padding: 1rem 1rem; }
  .date-picker__header {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    height: 4rem;
    place-items: center; }
  .date-picker__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 4rem;
    grid-gap: .5rem;
    min-height: 16rem; }
  .date-picker--current-month, .date-picker--another-month {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; }
  .date-picker--another-month {
    background-color: #ffe68e; }
  .date-picker--current-month {
    cursor: pointer;
    background-color: #ffb74d; }
  .date-picker--current-month:hover {
    background-color: #ffa928; }
  .date-picker__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer; }

.wage-date-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f8f8;
  width: 40%;
  height: 10rem;
  margin: auto;
  box-shadow: 0 0 3px 0 rgba(34, 36, 38, 0.65);
  margin-bottom: 2rem;
  position: relative; }
  .wage-date-card__date, .wage-date-card__wage {
    cursor: pointer; }

.input {
  display: grid;
  grid-template-columns: repeat(2, 3rem) 6rem repeat(2, 3rem);
  grid-template-rows: 4rem 6rem;
  grid-template-areas: "chevrons--up chevron--up wage chevrons--down chevron--down" "confirm-btn confirm-btn confirm-btn confirm-btn confirm-btn";
  place-items: center;
  justify-content: center;
  background-color: #ffe6cc;
  box-shadow: 0 0 3px 0 rgba(34, 36, 38, 0.65);
  margin: auto;
  padding: 1rem 0;
  width: 25rem; }
  .input__chevrons--up {
    grid-area: chevrons--up; }
  .input__chevron--up {
    grid-area: chevron--up; }
  .input__chevrons--down {
    grid-area: chevron--down; }
  .input__chevrons--down {
    grid-area: chevrons--down; }
  .input__wage {
    grid-area: wage; }
  .input__confirm-btn {
    grid-area: confirm-btn; }

.cookie {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  line-height: 3rem;
  background-color: #ffdd59; }
  .cookie-btn {
    margin: 0; }
  .cookie__link {
    text-decoration: none; }
  .cookie__text {
    flex-basis: 80%; }
  @media only screen and (max-width: 62em) {
    .cookie {
      flex-wrap: wrap;
      height: auto;
      padding: 1rem 0rem; }
      .cookie__text {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem; }
      .cookie-btn {
        margin-bottom: 2rem; } }

.language {
  margin: 0rem 1rem;
  font-weight: 600;
  position: relative; }
  .language a {
    cursor: pointer; }
  .language__icon {
    height: 5rem;
    width: 5rem;
    fill: white;
    padding: 0rem 1rem;
    cursor: pointer; }
  .language__list {
    position: absolute;
    top: 6rem;
    left: -6rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.2); }
  .language__item {
    cursor: pointer;
    color: grey;
    font-weight: 500;
    padding: .5rem 0;
    width: 100%; }
  .language__item:hover {
    color: black; }

.container {
  padding: 2rem;
  color: #212121; }
  @media only screen and (min-width: 75em) {
    .container {
      width: 80%;
      margin: 0 auto; } }
  .container p {
    margin: 1.5rem 0; }
  .container h3 {
    padding: 1rem 0; }
  @media only screen and (max-width: 47em) {
    .container {
      font-size: 1.3rem;
      padding: 1.5rem; } }

.title {
  text-align: center; }

.indent {
  margin-left: 2rem; }

.bold {
  font-weight: 600; }

.cookie-table {
  border: 1px solid black;
  border-collapse: collapse; }
  .cookie-table th, .cookie-table td {
    border: 1px solid black;
    padding: .8rem;
    text-align: center; }
  @media only screen and (max-width: 47em) {
    .cookie-table {
      font-size: 1rem; }
      .cookie-table th, .cookie-table td {
        padding: .1rem; } }

.rate-warning {
  min-height: 8rem;
  width: 60%;
  background-color: #FFBABA;
  margin: 2rem auto 1rem auto;
  padding: 2rem 10rem;
  line-height: 3rem;
  font-weight: 500;
  text-align: center; }
  .rate-warning a {
    text-decoration: none;
    color: white; }
  @media only screen and (max-width: 62em) {
    .rate-warning {
      width: 80%;
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 47em) {
    .rate-warning {
      width: 95%;
      padding: 1rem 1rem; } }

.add-del {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: 4rem;
  grid-gap: 2rem;
  justify-content: center;
  margin: 2rem 0; }
  @media only screen and (max-width: 47em) {
    .add-del {
      grid-template-columns: 20rem;
      grid-template-rows: 4rem 4rem; } }

.exist {
  position: absolute;
  top: 6rem;
  width: 35rem;
  min-height: 15rem;
  padding: 3rem 1rem;
  margin: 1rem auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65);
  text-align: center; }
  .exist span {
    display: block;
    margin: 1rem 1rem 2rem 1rem; }
  @media only screen and (max-width: 47em) {
    .exist {
      width: 30rem;
      top: 6rem; } }

.wage-date {
  position: relative;
  display: grid;
  grid-template-columns: 5rem 12rem 5rem 16rem 22rem;
  grid-template-rows: 12rem;
  justify-content: center;
  place-items: center;
  width: 100%;
  margin: 2rem auto;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15); }
  .wage-date__buttons {
    display: flex;
    justify-content: space-between;
    width: 20rem; }
  @media only screen and (max-width: 47em) {
    .wage-date {
      grid-template-columns: 8rem 15rem;
      grid-template-rows: 5rem 3rem 8rem;
      width: 32rem; }
      .wage-date__buttons {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        justify-content: space-between;
        width: 20rem; } }
  .wage-date__date {
    cursor: pointer; }
  .wage-date__wage {
    display: grid;
    grid-template-columns: repeat(2, 2rem) 6rem repeat(2, 2rem);
    place-items: center;
    grid-template-areas: "chevrons--up chevron--up value chevrons--down chevron--down"; }
  .wage-date__chevrons--up {
    grid-area: chevrons--up; }
  .wage-date__chevron--up {
    grid-area: chevron--up; }
  .wage-date__chevrons--down {
    grid-area: chevron--down; }
  .wage-date__chevrons--down {
    grid-area: chevrons--down; }
  .wage-date__value {
    grid-area: value; }

.wage-del {
  position: relative;
  display: grid;
  grid-template-columns: 5rem 15rem 24rem;
  grid-template-rows: 8rem;
  justify-content: center;
  place-items: center;
  width: 45rem;
  margin: 2rem auto;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.65); }
  .wage-del__buttons {
    display: flex;
    justify-content: space-between;
    width: 20rem; }
  .wage-del__date {
    cursor: pointer; }
  @media only screen and (max-width: 47em) {
    .wage-del {
      grid-template-columns: 8rem 15rem;
      grid-template-rows: 5rem 8rem;
      width: 32rem; }
      .wage-del__buttons {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; } }

.wage-table {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  table-layout: fixed; }
  .wage-table td {
    height: 3.5rem;
    font-weight: 300; }
  .wage-table th, .wage-table td {
    border: 1px solid #bdbdbd;
    padding: 1rem 1rem; }
    @media only screen and (max-width: 47em) {
      .wage-table th, .wage-table td {
        padding: 1rem 0;
        font-size: 1.5rem; } }
  .wage-table td:last-child {
    padding: 0; }
  .wage-table td {
    font-size: 1.4rem;
    letter-spacing: 1px; }

.wage-thead th {
  background-color: #ccff90;
  font-weight: 500;
  font-size: 1.3rem; }

.divider {
  height: 0;
  width: 100%;
  margin: 3rem auto;
  border-top: 1px solid rgba(34, 36, 38, 0.15); }

.break-set, .round-set, .overtime-set {
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  margin: 0rem auto 2rem auto;
  padding: 2rem 2rem 2rem 2rem; }
  @media only screen and (max-width: 47em) {
    .break-set, .round-set, .overtime-set {
      padding-right: 1rem;
      padding-left: 1rem; } }
  .break-set__select, .round-set__select, .overtime-set__select {
    display: flex;
    flex-wrap: wrap; }
  .break-set__name, .round-set__name, .overtime-set__name {
    margin-bottom: 1rem;
    font-weight: 500; }
  .break-set__type, .break-set__duration, .break-set__hours, .break-set__minutes, .round-set__type, .round-set__duration, .round-set__hours, .round-set__minutes, .overtime-set__type, .overtime-set__duration, .overtime-set__hours, .overtime-set__minutes {
    display: flex;
    align-items: center;
    margin: .5rem 0 .5rem 0; }
    .break-set__type-label, .break-set__duration-label, .break-set__hours-label, .break-set__minutes-label, .round-set__type-label, .round-set__duration-label, .round-set__hours-label, .round-set__minutes-label, .overtime-set__type-label, .overtime-set__duration-label, .overtime-set__hours-label, .overtime-set__minutes-label {
      margin-right: 1rem;
      font-weight: 500;
      min-height: 3rem;
      line-height: 3rem; }
  .break-set__type, .round-set__type, .overtime-set__type {
    flex: 0 1 25rem;
    margin-right: 2rem; }
    .break-set__type-select, .round-set__type-select, .overtime-set__type-select {
      flex: 0 1 19rem; }
  .break-set__duration, .round-set__duration, .overtime-set__duration {
    flex: 0 1 38rem;
    flex-wrap: wrap; }
    .break-set__duration-select, .round-set__duration-select, .overtime-set__duration-select {
      flex: 0 0 20rem; }
  .break-set__hours, .round-set__hours, .overtime-set__hours {
    flex: 0 1 20rem; }
    @media only screen and (max-width: 47em) {
      .break-set__hours, .round-set__hours, .overtime-set__hours {
        flex: 0 1 17rem; } }
    .break-set__hours-select, .round-set__hours-select, .overtime-set__hours-select {
      flex: 0 0 10rem; }
      @media only screen and (max-width: 47em) {
        .break-set__hours-select, .round-set__hours-select, .overtime-set__hours-select {
          flex: 0 1 9rem; } }
  .break-set__minutes, .round-set__minutes, .overtime-set__minutes {
    flex: 0 1 16rem; }
    .break-set__minutes-select, .round-set__minutes-select, .overtime-set__minutes-select {
      flex: 0 0 10rem; }
      @media only screen and (max-width: 47em) {
        .break-set__minutes-select, .round-set__minutes-select, .overtime-set__minutes-select {
          flex: 0 1 9rem; } }
  .break-set__toogle, .round-set__toogle, .overtime-set__toogle {
    display: flex;
    align-items: center; }
    .break-set__toogle-label, .round-set__toogle-label, .overtime-set__toogle-label {
      font-weight: 500;
      margin-right: 1rem; }

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s; }

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000; }

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27; }

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15; }

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle--checked .react-toggle-track-x {
  opacity: 0; }

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27; }

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0; }

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0; }

.datetime-picker {
  width: 45rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 0;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65); }
  .datetime-picker__table {
    margin: 0 auto 1.5rem auto;
    text-align: center; }
    .datetime-picker__table thead th {
      font-weight: 400; }
    .datetime-picker__table td {
      min-width: 10rem;
      margin: .3rem 1rem; }
  .datetime-picker__item {
    display: inline-block;
    padding: 1rem .5rem .5rem .5rem;
    width: 4rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px; }
    .datetime-picker__item--active {
      background-color: #52bfee; }
  .datetime-picker__item:hover {
    background-color: #52bfee; }
  @media only screen and (max-width: 47em) {
    .datetime-picker {
      width: 33rem; }
      .datetime-picker__table td {
        min-width: 5rem; } }

.date-select {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 7rem;
  left: 0rem;
  right: 0rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  width: 30rem;
  margin: 1rem auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.15); }
  .date-select__today {
    background-color: #52bfee; }
  .date-select > * {
    display: inline-block;
    padding: .5rem;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer; }
  .date-select > *:hover {
    background-color: rgba(255, 183, 77, 0.75); }
  @media only screen and (max-width: 47em) {
    .date-select {
      top: 6rem; } }

.hour-select {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 7rem;
  left: 0rem;
  right: 0rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  width: 30rem;
  margin: 1rem auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65); }
  .hour-select > * {
    display: inline-block;
    padding: .5rem .5rem .7rem .5rem;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer; }
  .hour-select > *:hover {
    background-color: rgba(255, 183, 77, 0.75); }
  @media only screen and (max-width: 47em) {
    .hour-select {
      top: 6rem; } }

.minute-select {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 7rem;
  left: 0rem;
  right: 0rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  width: 30rem;
  margin: 1rem auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65); }
  .minute-select > * {
    display: inline-block;
    padding: .5rem .5rem .7rem .5rem;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer; }
  .minute-select > *:hover {
    background-color: rgba(255, 183, 77, 0.75); }
  @media only screen and (max-width: 47em) {
    .minute-select {
      top: 6rem; } }

.sure-message {
  display: block;
  position: absolute;
  top: -7rem;
  left: -24rem;
  right: 0rem;
  z-index: 1;
  width: 35rem;
  min-height: 15rem;
  padding: 1rem 1rem;
  margin: 1rem auto;
  background-color: #fcf8e3;
  border: 2px solid red;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65);
  text-align: center;
  font-weight: 400; }
  .sure-message__text {
    display: block;
    margin: 1rem 0 3rem 0; }
  .sure-message__buttons {
    display: flex;
    justify-content: space-around; }
  @media only screen and (max-width: 47em) {
    .sure-message {
      width: 30rem;
      top: -7rem;
      left: -24rem;
      right: 0rem; } }
  .sure-message-align {
    left: 0rem; }

.fill-exist-message {
  position: absolute;
  top: 6rem;
  left: 0rem;
  right: 0rem;
  width: 35rem;
  min-height: 15rem;
  padding: 3rem 1rem;
  margin: 1rem auto;
  background-color: #fdef96;
  z-index: 1;
  border: 2px solid #ffb74d;
  border-radius: .4rem;
  text-align: center; }
  .fill-exist-message__text {
    display: block;
    margin-bottom: 3rem; }
  @media only screen and (max-width: 47em) {
    .fill-exist-message {
      width: 30rem;
      top: 6rem; } }

.fill-in-wage-date {
  position: absolute;
  top: -2rem;
  width: 35rem;
  min-height: 15rem;
  padding: 3rem 1rem;
  margin: 1rem auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.65);
  text-align: center; }
  .fill-in-wage-date span {
    display: block;
    margin: 1rem 1rem 2rem 1rem; }
  @media only screen and (max-width: 47em) {
    .fill-in-wage-date {
      width: 30rem; } }
